<div class="container-fluid" *ngIf="carList">
  <div class="row">
    <div class="col-md-12">
      <div class="row mt-3">
        <div class="col-lg-4 col-sm-6 col-12" *ngFor="let car of carList; let i = index">
          <div *ngIf="i < carList.length">
            <app-car [car]="car" (carId)="carIdEvent($event)"></app-car>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
