<div class="wrapper">

  <nav id="sidebar">
    <ul class="list-unstyled">
      <li class="sidebar-item" id="datasBtn">
        <a>Adataim</a>
      </li>
      <li class="sidebar-item" id="rentsBtn">
        <a>Foglalásaim</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12 ml-2">
        <button class="btn sidebar-toggler" id="sidebarCollapse">
          <i class="fas fa-bars"></i>
          <span>Menü</span>
        </button>

        <div class="row" id="account-details">
          <div class="col-12 col-md-6">
          <app-mydetails></app-mydetails>
          </div>
          <div class="col-12 col-md-4">
            <app-changepassword></app-changepassword>
          </div>
        </div>
        <div class="row mt-4" id="rentings">
          <app-my-rents></app-my-rents>
        </div>
      </div>
    </div>
  </div>
</div>

