<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form #form="ngForm" (ngSubmit)="submit()">
        <div class="row all-row">
          <div class="col-12">
            <mat-card>
              <div class="row">
                <div class="col-12 col-md-4 offset-md-4">
                  <h1>Foglalas keresése</h1>
                </div>
              </div>
              <mat-card-content *ngIf="parkList">
                <div class="row field-row mt-3">
                  <div class="col-md-4">
                    <mat-form-field appearance="standard">
                      <mat-select placeholder="Telephely" [(value)]="parkSelected" ngModel name="parkSelector"
                        #parkSelector="ngModel" required>
                        <mat-option value="{{park.id}}" *ngFor="let park of parkList">{{park.city}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="parkSelector.touched  && parkSelector.invalid">
                        A valid park is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4 mt-3">
                    <mat-form-field>
                      <input matInput [matDatepicker]="dateFromDatePicker" placeholder="Foglalás kezdete" (dateChange)="setDateFrom($event.value)"
                        required ngModel name="dateFrom" #dateFrom="ngModel">
                      <mat-datepicker-toggle matSuffix [for]="dateFromDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #dateFromDatePicker></mat-datepicker>
                      <mat-error *ngIf="dateFrom.touched  && dateFrom.invalid">
                        A valid date is required
                      </mat-error>

                    </mat-form-field>
                  </div>
                  <div class="col-md-4 mt-3">
                    <mat-form-field>
                      
                      <input matInput [matDatepicker]="dateToDatePicker" placeholder="Foglalás vége" (dateChange)="setDateTo($event.value)"
                        required ngModel name="dateTo" #dateTo="ngModel">
                      <mat-datepicker-toggle matSuffix [for]="dateToDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #dateToDatePicker></mat-datepicker>
                      <mat-error *ngIf="dateTo.touched  && dateTo.invalid">
                        A valid date is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-card-content>

              <!--<md-input-container>-->
              <!--<input name="email" mdInput type="email" placeholder="Email" value="" [ngModel]="customer.email" #email="ngModel">-->
              <!--<md-error *ngIf="email.touched && email.invalid" required>-->
              <!--A valid email is required-->
              <!--</md-error>-->
              <!--</md-input-container>-->
              <!--<md-input-container>-->
              <!--<input name="phone" mdInput type="tel" placeholder="Phone" value="" phone [ngModel]="customer.phone" #phone="ngModel">-->
              <!--<md-error *ngIf="phone.touched && phone.myErrors?.phone">-->
              <!--Not a valid phone number-->
              <!--</md-error>-->
              <!--</md-input-container>-->

              <mat-card-actions>
                <!--&lt;!&ndash;<button type="submit" mat-button [disabled]="form.invalid">Keres</button>&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="button" md-button (click)="cancel()">Cancel</button>&ndash;&gt;-->
                <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Keresés
                    <span>
                        <i class="fas fa-search"></i>
                    </span></button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>



      </form>
    </div>
  </div>
</div>
