<!--<h2 class="mt-2 mb-4">Jelszó cseréje</h2>-->
<!--<form>-->
  <!--<label for="old">Régi jelszó</label>-->
  <!--<input type="password" name="old" class="form-control form-control-sm mb-3" />-->
  <!--<label for="new">Új jelszó</label>-->
  <!--<input type="password" name="new" class="form-control form-control-sm mb-3" />-->
  <!--<label for="newConfirm">Új jelszó ismét</label>-->
  <!--<input type="password" name="newConfirm" class="form-control form-control-sm mb-3" />-->
  <!--<button type="submit" class="btn btn-primary float-right">Csere!</button>-->
<!--</form>-->


    <mat-card>
      <form #form="ngForm" (ngSubmit)="submit()">
        <mat-card-content>
          <div class="row">
            <div class="col-12">
              <h1 class="text-center">Jelszó cseréje</h1>
            </div>
          </div>

          <div class="row"><div class="col-12 mb-3">
            <mat-form-field>
              <input matInput placeholder="Régi jelszó" type="password" [(ngModel)]="oldPassword" name="oldPassword"
                     #oldpassFormControl="ngModel" required minlength="2" maxlength="15" #oldpass>
              <!--<mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'off' : 'on'}}</mat-icon>-->
              <mat-error *ngIf="oldpassFormControl.hasError('required')">
                required
              </mat-error>
              <mat-error *ngIf="oldpassFormControl.hasError('minlength') && !oldpassFormControl.hasError('required')">
                minlength 2
              </mat-error>
              <mat-error *ngIf="oldpassFormControl.hasError('maxlength')">
                maxlength 15
              </mat-error>
            </mat-form-field>
          </div>
            <div class="col-12 mb-3">
              <mat-form-field>
                <input matInput placeholder="Új jelszó" type="password" [(ngModel)]="password" name="password1"
                       #password1FormControl="ngModel" required minlength="2" maxlength="15" #password1>
                <!--<mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'off' : 'on'}}</mat-icon>-->
                <mat-error *ngIf="password1FormControl.hasError('required')">
                  required
                </mat-error>
                <mat-error *ngIf="password1FormControl.hasError('minlength') && !password1FormControl.hasError('required')">
                  minlength 2
                </mat-error>
                <mat-error *ngIf="password1FormControl.hasError('maxlength')">
                  maxlength 15
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 mb-3">
              <mat-form-field>
                <input matInput ngModel="" placeholder="Új jelszó ismét" type="password" name="password2"
                       #password2FormControl="ngModel" required minlength="2" maxlength="15" #password2>
                <!--<mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'off' : 'on'}}</mat-icon>-->
                <mat-error *ngIf="password2FormControl.hasError('required')">
                  required
                </mat-error>
                <mat-error *ngIf="password2FormControl.hasError('minlength') && !password2FormControl.hasError('required')">
                  minlength 2
                </mat-error>
                <mat-error *ngIf="password2FormControl.hasError('maxlength')">
                  maxlength 15
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-10 offset-1 alert alert-danger" [ngStyle]="{'display':(password1.value != password2.value) ? 'block' : 'none' }">
              <p>A két jelszó nem egyezik meg</p>
            </div>
            <div class="col-10 offset-1 alert alert-success" [ngStyle]="{'display': complete ? 'block' : 'none' }">
              <p>Ön sikeresen frissítette jelszavát.</p>
            </div>
          </div>

        </mat-card-content>


        <!--<md-input-container>-->
        <!--<input name="email" mdInput type="email" placeholder="Email" value="" [ngModel]="customer.email" #email="ngModel">-->
        <!--<md-error *ngIf="email.touched && email.invalid" required>-->
        <!--A valid email is required-->
        <!--</md-error>-->
        <!--</md-input-container>-->
        <!--<md-input-container>-->
        <!--<input name="phone" mdInput type="tel" placeholder="Phone" value="" phone [ngModel]="customer.phone" #phone="ngModel">-->
        <!--<md-error *ngIf="phone.touched && phone.myErrors?.phone">-->
        <!--Not a valid phone number-->
        <!--</md-error>-->
        <!--</md-input-container>-->

        <mat-card-actions>
          <!--&lt;!&ndash;<button type="submit" mat-button [disabled]="form.invalid">Keres</button>&ndash;&gt;-->
          <!--&lt;!&ndash;<button type="button" md-button (click)="cancel()">Cancel</button>&ndash;&gt;-->
          <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || (password1.value != password2.value)">
            Cserél
          </button>
        </mat-card-actions>
      </form>
