<form #form="ngForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Autó létrehozása</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <mat-form-field appearance="standard">
          <mat-select placeholder="Telephely" [(value)]="parkSelected" ngModel name="parkSelector"
                      #parkSelector="ngModel" required>
            <mat-option value="{{park.id}}" *ngFor="let park of parks">{{park.city}}</mat-option>
          </mat-select>
          <mat-error *ngIf="parkSelector.touched  && parkSelector.hasError('required')">
            Kérem válasszon egy parkot!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Márka" [(ngModel)]="make" name="make" required #makeFormControl="ngModel">
          <mat-error *ngIf="makeFormControl.hasError('required')">
            Kérem adjon meg egy márkát!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rendszám" [(ngModel)]="registrationNumber" name="registrationNumber" required #registrationNumberFormControl="ngModel">
          <mat-error *ngIf="registrationNumberFormControl.hasError('required')">
            Kérem adjon meg egy rendszámot!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Model" [(ngModel)]="model" name="model" required #modelFormControl="ngModel">
          <mat-error *ngIf="modelFormControl.hasError('required')">
            Kérem adjon meg egy modelt!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Típus" [(ngModel)]="type" name="type" required #typeFormControl="ngModel">
          <mat-error *ngIf="typeFormControl.hasError('required')">
            Kérem adjon meg egy típust!
          </mat-error>

        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Váltó" [(value)]="gearbox" ngModel name="gearboxSelector" #gearboxSelector="ngModel"
            required>
            <mat-option value="MANUAL">manual</mat-option>
            <mat-option value="AUTOMATIC">automatic</mat-option>
          </mat-select>
          <mat-error *ngIf="gearboxSelector.touched  && gearboxSelector.hasError('required')">
            Kérem válasszon egy váltó fajtát!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Lóerő" [formControl]="power">
          <mat-error *ngIf="power.touched && power.hasError('required')">
            Kérem adja meg a lóerőt!
          </mat-error>
          <mat-error *ngIf="power.touched && !power.hasError('required') && power.hasError('numberRange')">
            A lóerő minimum 60 és maximum 800 lehet.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Ülések" [formControl]="seats">
          <mat-error *ngIf="seats.touched && seats.hasError('required')">
            Kérem adja meg az ülések számát!
          </mat-error>
          <mat-error *ngIf="seats.touched && !seats.hasError('required') && seats.hasError('numberRange')">
            Az ülések száma minimum 2 és maximum 9 lehet.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Ajtók" [formControl]="doors">
          <mat-error *ngIf="doors.touched && doors.hasError('required')">
            Kérem adja meg az ajtók számát!
          </mat-error>
          <mat-error *ngIf="doors.touched && !doors.hasError('required') && doors.hasError('numberRange')">
            Az ajtók száma minimum 2 és maximum 5 lehet.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Ár" [formControl]="price">
          <mat-error *ngIf="price.touched && price.hasError('required')">
            Kérem adjon meg egy napi árat!
          </mat-error>
          <mat-error *ngIf="price.touched && !price.hasError('required') && price.hasError('numberRange')">
            Az ár minimum 2000 és maximum 100.000 lehet.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Kocsi kiadási éve" [formControl]="firstRegistration">
          <mat-error *ngIf="firstRegistration.touched && firstRegistration.hasError('required')">
            Kérem adja meg az autó kiadási évét!
          </mat-error>
          <mat-error *ngIf="firstRegistration.touched && !firstRegistration.hasError('required') && firstRegistration.hasError('numberRange')">
            A kiadási év minimum 1980 és maximum az idei év lehet.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Légkondi" [(value)]="airconditioning" ngModel name="airconditioningSelector"
            #airconditioningSelector="ngModel" required>
            <mat-option value="true">igen</mat-option>
            <mat-option value="false">nem</mat-option>
          </mat-select>
          <mat-error *ngIf="airconditioningSelector.touched  && airconditioningSelector.hasError('required')">
            Kérem adja meg, hogy légkondicionált-e az autó!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Szín" [(ngModel)]="color" name="color" required #colorFormControl="ngModel">
          <mat-error *ngIf="colorFormControl.hasError('required')">
            Kérem adjon meg egy színt!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Üzemanyag" [(value)]="fuelType" ngModel name="fuelTypeSelector" #fuelTypeSelector="ngModel"
            required>
            <mat-option value="petrol">benzin</mat-option>
            <mat-option value="diesel">diesel</mat-option>
          </mat-select>
          <mat-error *ngIf="fuelTypeSelector.touched  && fuelTypeSelector.hasError('required')">
            Válassza ki az üzemanyag fajtáját!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <p id="img-label" class="pl-5">Kérem töltsön fel egy képet is!</p>
        <br/>
        <input type="file" (change)="selectFile($event)" ngModel name="imageUploader" #imageUploader="ngModel" required />
        <mat-error *ngIf="imageUploader.touched  && imageUploader.hasError('required')">
          Kérem töltse fel az autó képét!
        </mat-error>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button class="float-left mt-5" color="primary" [disabled]="form.invalid && !selectedFiles || parkSelector.hasError('required')">
      Autó regisztrálása
    </button>
  </mat-dialog-actions>
</form>

<button (click)="close()" class="float-right" mat-raised-button color="warn">Mégsem</button>
