<form #form="ngForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Park létrehozása</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <mat-form-field appearance="standard">
          <mat-select placeholder="Telephely" [(value)]="parkSelected" ngModel name="parkSelector"
                      #parkSelector="ngModel" required>
            <mat-option value="{{park.id}}" *ngFor="let park of parks">{{park.city}}</mat-option>
          </mat-select>
          <mat-error *ngIf="parkSelector.touched  && parkSelector.hasError('required')">
            Kérem válasszon egy parkot!
          </mat-error>
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button class="float-left mt-5" color="primary" [disabled]="form.invalid">
      Park torlese
    </button>
  </mat-dialog-actions>
</form>

<button (click)="close()" class="float-right" mat-raised-button color="warn">Mégsem</button>
