.img-box-img {
    height: 300px;
    width: 300px;
    opacity: 1;
    transition:1.5s;
}

.img-box {
    position: relative;
    text-align: center;
    color: black;
}

#createCarBtn .img-box, #createParkBtn .img-box {
    opacity: 0;
    transition: 4s ease-out;
}

#createCarBtn .img-box {
    transition: 2s ease-out;
}

.img-box-content {
    z-index: 1;
    font-size: 27px;
    position: absolute;
    top:15%;
    left:15%;
    opacity: 0;
    transition: .6s;
}

.toShow {
    opacity: 1;
}

.img-box:hover .img-box-img {
    opacity: .35;
    cursor: pointer;
}

.img-box:hover .img-box-content{
    opacity: 1;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
