<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h1>Elem létrehozása</h1>
            <p>Kérem válassza ki, mit szeretne létrehozni, majd adja meg a megfelelő adatokat!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 mb-5">
            <a class="button" (click)="openCarDialog()" id="createCarBtn">
                <div class="img-box">
                    <img class="img-box-img img-fluid" src="assets/img/caricon.png" />
                    <div class="img-box-content">Autó létrehozása</div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 mb-5">
            <a class="button" id="createParkBtn" (click)="openParkDialog()">
                <div class="img-box">
                    <img class="img-box-img img-fluid" src="assets/img/parkicon.png" />
                    <div class="img-box-content">Telephely létrehozása</div>
                </div>
            </a>
        </div>
    </div>
</div>
