<form #form="ngForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">User torlese</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <mat-form-field appearance="standard">
          <mat-select placeholder="Felhasznalo" [(value)]="userSelected" ngModel name="userSelector"
                      #parkSelector="ngModel" required>
            <mat-option value="{{user.id}}" *ngFor="let user of users">{{user.username}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button class="float-left mt-5" color="primary" [disabled]="form.invalid">
      Park torlese
    </button>
  </mat-dialog-actions>
</form>

<button (click)="close()" class="float-right" mat-raised-button color="warn">Mégsem</button>
