<div class="container">
  <mat-card>
    <div class="row form-row">
      <div class="col-12">
        <form #form="ngForm" (ngSubmit)="upload()">
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <h1 class="text-center">Autó létrehozása</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Marka" [(ngModel)]="make" name="make" required #makeFormControl="ngModel">
                  <mat-error *ngIf="makeFormControl.hasError('required')">
                    required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Model" [(ngModel)]="model" name="model" required #modelFormControl="ngModel">
                  <mat-error *ngIf="modelFormControl.hasError('required')">
                    required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Tipus" [(ngModel)]="type" name="type" required #typeFormControl="ngModel">
                  <mat-error *ngIf="typeFormControl.hasError('required')">
                    required
                  </mat-error>

                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Valto" [(value)]="gearbox" ngModel name="gearboxSelector" #gearboxSelector="ngModel"
                    required>
                    <mat-option value="MANUAL">manual</mat-option>
                    <mat-option value="AUTOMATIC">automatic</mat-option>
                  </mat-select>
                  <mat-error *ngIf="gearboxSelector.touched  && gearboxSelector.hasError('required')">
                    Valto is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Loero" [formControl]="power">
                  <mat-error *ngIf="power.touched && power.hasError('required')">
                    loero required
                  </mat-error>
                  <mat-error *ngIf="power.touched && !power.hasError('required') && power.hasError('numberRange')">
                    A loero minimum 20 es maximum 1500 lehet.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Ulesek" [formControl]="seats">
                  <mat-error *ngIf="seats.touched && seats.hasError('required')">
                    Ulesek required
                  </mat-error>
                  <mat-error *ngIf="seats.touched && !seats.hasError('required') && seats.hasError('numberRange')">
                    Az ulesek szama minimum 1 es maximum 200 lehet.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Ajtok" [formControl]="doors">
                  <mat-error *ngIf="doors.touched && doors.hasError('required')">
                    Ajtok required
                  </mat-error>
                  <mat-error *ngIf="doors.touched && !doors.hasError('required') && doors.hasError('numberRange')">
                    Az ajtok szama minimum 1 es maximum 10 lehet.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput type="number" placeholder="Ar" [formControl]="price">
                  <mat-error *ngIf="price.touched && price.hasError('required')">
                    Price required
                  </mat-error>
                  <mat-error *ngIf="price.touched && !price.hasError('required') && price.hasError('numberRange')">
                    Az ar minimum 2000 es maximum 100.000 lehet
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Legkondi" [(value)]="airconditioning" ngModel name="airconditioningSelector"
                    #airconditioningSelector="ngModel" required>
                    <mat-option value="true">igen</mat-option>
                    <mat-option value="false">nem</mat-option>
                  </mat-select>
                  <mat-error *ngIf="airconditioningSelector.touched  && airconditioningSelector.hasError('required')">
                    Legkondi is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Szin" [(ngModel)]="color" name="color" required #colorFormControl="ngModel">
                  <mat-error *ngIf="colorFormControl.hasError('required')">
                    required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Uzemanyag" [(value)]="fuelType" ngModel name="fuelTypeSelector"
                    #fuelTypeSelector="ngModel" required>
                    <mat-option value="petrol">benzin</mat-option>
                    <mat-option value="diesel">diesel</mat-option>
                  </mat-select>
                  <mat-error *ngIf="fuelTypeSelector.touched  && fuelTypeSelector.hasError('required')">
                    Uzemanyag is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <input type="file" (change)="selectFile($event)" ngModel name="imageUploader" #imageUploader="ngModel"
                  required />
                <mat-error *ngIf="imageUploader.touched  && imageUploader.hasError('required')">
                  kep is required
                </mat-error>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid && !selectedFiles">
              Auto regisztralasa
            </button>
          </mat-card-actions>
        </form>
      </div>
    </div>
  </mat-card>
</div>