<div class="container-fluid">
  <div class="row mt-4 text-center" id="rentings">
    <div class="col-12">
      <h2 class="mt-2 mb-4">Foglalások</h2>
      <table class="text-center table table-striped rent-table table-responsive">
        <thead>
          <th>Foglalás azonosítója</th>
          <th>Foglalás kezdete</th>
          <th>Foglalás vége</th>
          <th>Márka</th>
          <th>Model</th>
          <th>Rendszám</th>
          <th>Ár</th>
          <th>Aktiv</th>
          <th>Fogadás</th>
          <th>Kiadas</th>
        </thead>
        <tbody *ngFor="let rental of rentals">
        <tr>
          <td>{{rental.token}}</td>
          <td>{{rental.rentStartedAt}}</td>
          <td>{{rental.rentEndsAt}}</td>
          <td>{{rental.car.make}}</td>
          <td>{{rental.car.model}}</td>
          <td>{{rental.car.registrationNumber}}</td>
          <td>{{rental.price}}</td>
          <td>{{rental.active | questionableBoolean}}</td>
          <td>
            <button class="btn accept-button" (click)="acceptRental(rental.id)" >
              <i class="far fa-check-circle"></i>
            </button>
          </td>
          <td>
            <button class="btn start-button" (click)="startRental(rental.id)">
              <i class="far fa-play-circle"></i>
            </button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
