<form #form="ngForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Autó törlése</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Autó rendszáma" type="text" [(ngModel)]="registrationNumber" name="registrationNumber"
            #registrationNumberFormControl="ngModel" required #password1>
          <mat-error *ngIf="registrationNumberFormControl.hasError('required')">
            Kérem adja meg a törölni kívánt autó rendszámát!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="myErrors.length > 0">
      {{myErrors[0]}}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button class="float-left mt-5" color="primary" [disabled]="form.invalid">
      Autó törlése
    </button>
  </mat-dialog-actions>
</form>

<button (click)="close()" class="float-right" mat-raised-button color="warn">Mégsem</button>