

<mat-dialog-content >

  <h2 mat-dialog-title>{{message}}</h2>


</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Mégsem</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Kikölcsönzöm</button>
</mat-dialog-actions>
