<div class="container-fluid wrapper">
  <div class="row form-row">
    <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">


      <mat-card>
        <form #form="ngForm" (ngSubmit)="submit()">
          <mat-card-content>
            <div class="row">
              <div class="col-12">
                <h1 class="text-center">Regisztráció</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" [(ngModel)]="email" name="email" #emailFormControl="ngModel"
                    required email>
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                <div class="alert alert-danger" [ngStyle]="{'display':(myErrors.length > 0) && errorArrayContainsValue('email') && !confirmed ? 'block' : 'none' }">
                  <div *ngIf="(myErrors.length > 0) && errorArrayContainsValue('email'); else templateName">{{getErrorMessage('email')}}</div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Keresztnév" [(ngModel)]="firstName" name="firstname"
                    #firstnameFormControl="ngModel" required minlength="3" maxlength="20">
                  <mat-error *ngIf="firstnameFormControl.hasError('required')">
                    required
                  </mat-error>
                  <mat-error *ngIf="firstnameFormControl.hasError('minlength') && !firstnameFormControl.hasError('required')">
                    minlength problem
                  </mat-error>
                  <mat-error *ngIf="firstnameFormControl.hasError('maxlength')">
                    maxlength problem
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Vezetéknév" [(ngModel)]="lastName" name="lastname" #lastnameFormControl="ngModel"
                    required minlength="3" maxlength="20">
                  <mat-error *ngIf="lastnameFormControl.hasError('required')">
                    required
                  </mat-error>
                  <mat-error *ngIf="lastnameFormControl.hasError('minlength') && !lastnameFormControl.hasError('required')">
                    minlength problem
                  </mat-error>
                  <mat-error *ngIf="lastnameFormControl.hasError('maxlength')">
                    maxlength problem
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 mb-3">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Felhasználónév" [(ngModel)]="userName" name="username"
                    #usernameFormControl="ngModel" required minlength="2" maxlength="15">
                  <mat-error *ngIf="usernameFormControl.hasError('required')">
                    required
                  </mat-error>
                  <mat-error *ngIf="usernameFormControl.hasError('minlength') && !usernameFormControl.hasError('required')">
                    minlength problem
                  </mat-error>
                  <mat-error *ngIf="usernameFormControl.hasError('maxlength')">
                    maxlength problem
                  </mat-error>
                </mat-form-field>
                <div class="alert alert-danger" [ngStyle]="{'display':(myErrors.length > 0) && errorArrayContainsValue('username') && !confirmed ? 'block' : 'none' }">
                  <div *ngIf="(myErrors.length > 0) && errorArrayContainsValue('username'); else templateName">{{getErrorMessage('username')}}</div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <mat-form-field>
                  <input matInput placeholder="Jelszó" type="password" [(ngModel)]="password" name="password1"
                    #password1FormControl="ngModel" required minlength="2" maxlength="15" #password1>
                  <!--<mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'off' : 'on'}}</mat-icon>-->
                  <mat-error *ngIf="password1FormControl.hasError('required')">
                    required
                  </mat-error>
                  <mat-error *ngIf="password1FormControl.hasError('minlength') && !password1FormControl.hasError('required')">
                    minlength problem
                  </mat-error>
                  <mat-error *ngIf="password1FormControl.hasError('maxlength')">
                    maxlength problem
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12 mb-3">
                <mat-form-field>
                  <input matInput ngModel="" placeholder="Jelszó ismét" type="password" name="password2"
                    #password2FormControl="ngModel" required minlength="2" maxlength="15" #password2>
                  <!--<mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'off' : 'on'}}</mat-icon>-->
                  <mat-error *ngIf="password2FormControl.hasError('required')">
                    required
                  </mat-error>
                  <mat-error *ngIf="password2FormControl.hasError('minlength') && !password2FormControl.hasError('required')">
                    minlength problem
                  </mat-error>
                  <mat-error *ngIf="password2FormControl.hasError('maxlength')">
                    maxlength problem
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-10 offset-1 alert alert-danger" [ngStyle]="{'visibility':(password1.value != password2.value) ? 'initial' : 'hidden' }">
                <p>A két jelszó nem egyezik meg</p>
              </div>
              <div class="col-10 offset-1 alert alert-success" [ngStyle]="{'display': confirmed ? 'block' : 'none' }">
                <p>A megerosito emailt elkuldtuk a megadott email cimre.</p>
              </div>
            </div>

          </mat-card-content>


          <!--<md-input-container>-->
          <!--<input name="email" mdInput type="email" placeholder="Email" value="" [ngModel]="customer.email" #email="ngModel">-->
          <!--<md-error *ngIf="email.touched && email.invalid" required>-->
          <!--A valid email is required-->
          <!--</md-error>-->
          <!--</md-input-container>-->
          <!--<md-input-container>-->
          <!--<input name="phone" mdInput type="tel" placeholder="Phone" value="" phone [ngModel]="customer.phone" #phone="ngModel">-->
          <!--<md-error *ngIf="phone.touched && phone.myErrors?.phone">-->
          <!--Not a valid phone number-->
          <!--</md-error>-->
          <!--</md-input-container>-->

          <mat-card-actions>
            <!--&lt;!&ndash;<button type="submit" mat-button [disabled]="form.invalid">Keres</button>&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" md-button (click)="cancel()">Cancel</button>&ndash;&gt;-->
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid || (password1.value != password2.value)">
              Regisztráció
            </button>
          </mat-card-actions>
        </form>
        <p>Regisztráltál már? Lépj be
          <a [routerLink]="['/login']">itt.</a>
        </p>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #templateName>
  gapper
</ng-template>