.form-row {
    text-align: center;
}

mat-form-field {
    width: 80%;
}

mat-card {
    margin-top: 35px;
    margin-bottom: 35px;
}

.wrapper {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrapper::after {
    background-image: url("/assets/img/background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}