<!--{-->
<!--"id": 1,-->
<!--"createDate": "2018-12-15T22:57:40",-->
<!--"updateDate": "2018-12-15T22:57:40",-->
<!--"make": "Honda",-->
<!--"model": "Accord",-->
<!--"type": "sedan",-->
<!--"power": 140,-->
<!--"seats": 5,-->
<!--"doors": 4,-->
<!--"gearbox": "MANUAL",-->
<!--"airConditioning": true,-->
<!--"color": "piros",-->
<!--"fuelType": "petrol",-->
<!--"firstRegistration": "2010-12-30T00:00:00",-->
<!--"registrationNumber": "ABC-453",-->
<!--"price": 10000-->
<!--}-->



<!--<img src="assets/img/car.png" class="img-fluid">-->
<!--{{picture}}-->
<!--<img [src]="imageToShow"-->
     <!--alt="Place image title"-->
     <!--*ngIf="!isImageLoading">-->
<!--&lt;!&ndash;<img id="image" [src]="imageSrc" width="100" height="50">&ndash;&gt;-->
<!--<img src="data:image/png;base64,{{imageToShow}}">-->
<img *ngIf="imageIsLoaded" [src]="_DomSanitizationService.bypassSecurityTrustUrl(imageToShow)" class="img-fluid"/>
<p>{{imageToShow}}</p>
<div class="car-column">
  <h3>{{ car.make }} {{ car.model }}</h3>
  <div class="row mb-2">
    <div class="col-3">
      <div>
        <span class="fa fa-user"></span> {{ car.seats }}</div>
    </div>
    <div class="col-5">
      <div>
        <span class="fa fa-gas-pump"></span> {{ car.fuelType}}</div>
    </div>
    <div class="col-4">
      <div>
        <span class="fa fa-palette"></span>{{ car.color }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-1">
      <div>
        <span class="fa fa-calendar-alt"></span> {{ car.firstRegistration | date : 'yyyy MMM' }}  </div>
    </div>
    <div class="col-7">
      <div>
        <span class="fa fa-dollar-sign"></span> {{ car.price}} / nap</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 text-center">
      <button data-toggle="collapse" type="button" [attr.data-target]="'#' + car.registrationNumber" class="btn btn-success">Érdekel!</button>
    </div>
  </div>
</div>
<div class="collapse" id="{{car.registrationNumber}}">
  <div class="card shadow">
    <div class="card-body">
      <p>Ajtók: {{car.doors}}</p>
      <p>Váltó: {{car.gearbox}}</p>
      <p>Légkondícionálás: {{car.airConditioning | questionableBoolean}}</p>
      <div class="col-md-6">
        <button class="btn btn-success" (click)="rentCar()">Kikölcsönzöm</button>
      </div>
    </div>
  </div>
</div>
