<div>
  <!--<a [routerLink]="['/login']">Logout</a>-->
  <!--<br>-->
  <!--<app-who-am-i></app-who-am-i>-->
  <!--<br>-->
  <!--List Of Cars from API:-->
  <!--<app-car-list></app-car-list>-->
  <!--<app-car></app-car>-->
  <div class="wrapper pb-5 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <img src="assets/img/logotext.png" id="logo-image" />
          <div id="logo-text">Autókölcsönzés mesterfokon</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-lg-5">
        <h1>Rólunk, szabályaink</h1>
        <p>
          Ez az oldal egy egyetemi tárgy eredménye. Beadandó feladatként lett elkészítve három lelkes fiatal által : Hajzer Gergő,
          Marincsák Tamás, Roszpapa Dávid. Céljuk a következő: felhasználóbarát autókölcsönző felület létrehozása,
          hogy bármely korosztály könnyedén bérelhesse ki kedvenc kocsiját.
        </p>
        <p>
          A kölcsönzés a megszokott módszer szerint megy: teli tank - teli tank. Vagyis a bérlő a kocsit megtankolva kapja meg, és
          Ő ezt ugyanígy kell visszahozza. A kocsikat ugyanoda kell visszavinni ahonnan elhoztuk.
        </p>
        <p>
          Kívánunk mindenkinek kellemes böngészést. Megmutattuk Önöknek a top 5 kocsinkat, de ha mindre kíváncsiak kattintsanak a "Foglalás"
          menüpontra, vagy kattintsanak
          <a href="renting.html">ide.</a>
        </p>
      </div>
      <div class="col-12 col-lg-6 offset-lg-1">
        <h1>Top 5 legtöbbet bérelt autó</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-bloc" src="assets/img/background.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="assets/img/car.png">
            </div>
            <div class="carousel-item">
              <img class="d-block" src="assets/img/usericon.png">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>
  </div>

</div>
