#logo-text {
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

#logo-image {
  height: 210px;
  width: auto;
}

.wrapper {
  position: relative;
  display: block;
  height: 400px;
}

.wrapper::after {
  background-image: url("/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.carousel-item img {
  max-height: 45vh;
  width: 100%;
}
