<div *ngIf="isAuthenticated()&& isUser()">


<app-filter (cars)="carsEvent($event)" (startDate)="startDateEvent($event)" (endDate)="endDateEvent($event)"></app-filter>
<div *ngIf="carList">
<app-car-list [carList] = "carList" (carId)="carIdEvent($event)"></app-car-list>
</div>
</div>
<div *ngIf="isAuthenticated() && isAdmin()">
  <app-rent-filter (cars)="carsEvent($event)"></app-rent-filter>
  <app-car-list [carList] = "carList" (carId)="carIdEvent($event)"></app-car-list>
</div>

