.fa, .far {
    font-size: 20px;
 }
 
 .attribute-item {
     padding: 8px;
     margin-top: 13px;
 }
 
 /*.properties, .rent {
     margin-top: 19px;
 }*/
 
 .car-img {
     margin-bottom: 15px;
 }
 
 .nav-item {
     margin-left : 10px;
 }
 
 .navbar {
     background-color: rgb(74, 123, 214);
 }
 
 .nav-item a, .navbar-brand {
     color : white;
     font-weight: 600;
 }
 
 .my-navbar-toggler-icon {
     color: white;
 }
 
 .navbar-toggler {
     border-color: white !important;
 }
 
 .navbar-brand img {
     height: 40px;
     width: auto;
 }
 
 .nav-item:hover a {
     border-radius: 8%;
     background-color:rgb(74,100,214);
     color: white !important;
 }
 
 body {
     background-color: rgb(230,230,230);
 }