<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars my-navbar-toggler-icon"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['']">Főoldal</a>
          </li>
          <!--<li class="nav-item">-->
              <!--<a class="nav-link" href="#">Foglalás</a>-->
          <!--</li>-->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/foglalas']">Foglalás</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated() && isAdmin()">
              <a class="nav-link" [routerLink]="['/letrehozas']" >Létrehozás</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated() && isAdmin()">
              <a class="nav-link" [routerLink]="['/torles']">Törlés</a>
          </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isAuthenticated()">
          <a class="nav-link" [routerLink]="['/regisztracio']">Regisztráció</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" [routerLink]="['/profilom']" >Profilom</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/login']" *ngIf="!isAuthenticated()">Bejelentkezés</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" (click)="logout()" *ngIf="isAuthenticated()">Kijelentkezés</a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>
