<div class="col-12">
  <h2 class="mt-2 mb-4">Foglalásaim</h2>
  <table class="text-center table table-striped rent-table table-responsive">
    <thead>
      <th>Foglalás kezdete</th>
      <th>Foglalás vége</th>
      <th>Márka</th>
      <th>Model</th>
      <th>Rendszám</th>
      <th>Ár / nap</th>
      <th>Visszamondás</th>
    </thead>
    <tbody *ngFor="let rental of rentals">
    <tr>
      <td>{{rental.rentStartedAt}}</td>
      <td>{{rental.rentEndsAt}}</td>
      <td>{{rental.car.make}}</td>
      <td>{{rental.car.model}}</td>
      <td>{{rental.car.registrationNumber}}</td>
      <td>{{rental.car.price}} /nap</td>
      <td>
        <button class="btn btn-danger" (click)="deleteRental(rental.id)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="myErrors">{{myErrors}}</div>
</div>
