mat-dialog-content {
    width: 40vw;
}

mat-form-field {
    width: 80%;
    margin-bottom: 10px;
}

@media(max-width : 866px){
    mat-dialog-content {
        width: 70vw;
    }

    mat-form-field {
        width: 60%;
    }
}