<form #form="ngForm" (ngSubmit)="save()">
  <mat-dialog-content>
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">Park létrehozása</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <mat-select placeholder="Ország" [(value)]="country" ngModel name="countryTypeSelector" #countrySelector="ngModel"
                      required>
            <mat-option value="Magyarország">Magyarország</mat-option>
          </mat-select>
          <mat-error *ngIf="countrySelector.touched  && countrySelector.hasError('required')">
            Kérem válasszon egy országot!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Város" [(ngModel)]="city" name="city" required #cityFormControl="ngModel">
          <mat-error *ngIf="cityFormControl.hasError('required')">
           Kérem adjon meg egy várost!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Utca" [(ngModel)]="street" name="street" required #streetFormControl="ngModel">
          <mat-error *ngIf="streetFormControl.hasError('required')">
            Kérem adjon meg egy utcanevet!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Házszám" [(ngModel)]="streetNumber" name="streetNumber" required #streetNumberFormControl="ngModel">
          <mat-error *ngIf="streetNumberFormControl.hasError('required')">
           Kérem adjon meg egy házszámot!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" mat-raised-button class="float-left mt-5" color="primary" [disabled]="form.invalid">
      Park regisztrálása
    </button>
  </mat-dialog-actions>
</form>

<button (click)="close()" class="float-right" mat-raised-button color="warn">Mégsem</button>
