<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <p class="error-p">4
        <span>
                        <img src="img/404car.png" />
                    </span>4</p>
      <p class="oops">Oops! Az oldal amit keresel nem található.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p><a href="#" class="back-a">&lt;- Vissza az előző oldalra</a></p>
    </div>
  </div>
</div>
